body{
    margin: 0px;
    padding: 0px;
}
.container{
    display: flex;
    background-color: chocolate;
    font-size: 30px;
}
footer{
    background-color: black;
    padding-top: 0;
    color: aliceblue;
    text-align: center;
    padding-bottom: 0;
   text-decoration: none;
}
img{
    margin-left: 10px;
}